.container {
    background-color: red;
    border: solid 3px red; 
    border-radius: 10px;
    overflow: hidden;

    margin: 1rem 1.5rem;

    max-width: 400px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container p{
    padding: 0.5rem;
}

.card {
    flex: 1;
    background-color: #eee;
    color: #333;

    padding: 1rem;

    /* border-radius: 10px; */

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}